<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="">
        <div class="form-group">
            <label for="searchTerm">Query term</label>
            <input id="searchTerm" type="text" [formControl]="searchTermControl" class="form-control">
        </div>

        <div class="form-group">
            <label for="tags">Tags</label>
            <div class="d-flex flex-row flex-wrap">
                <div *ngFor="let tag of tagsList" class="chip bg-light">
                    {{tag}}
                    <i class="fa fa-plus" (click)="addChip(tag)"></i>    
                </div>    
            </div>
            <div class="d-flex flex-row flex-wrap">
                <div *ngIf="search.tags.length > 0">Tags to search for:</div>
                <div *ngFor="let tag of search.tags; let i = index" class="chip bg-primary">
                    {{tag}}
                    <i id="tag" class="fa fa-minus" (click)="removeChip(i)"></i>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="beginDate">Begin date</label>
            <input id="beginDate" type="date" [formControl]="beginDateControl" class="form-control">    
        </div>

        <div class="form-group">
            <label for="endDate">End date</label>
            <input id="endDate"  type="date" [formControl]="endDateControl" class="form-control">    
        </div>

        <button type="button" (click)="performSearch()" class="btn btn-primary">Search</button>
    </div>
    <div *ngIf="searchResults.length > 0" class="results">
        <h3>Results</h3>
        <ul>
            <li *ngFor="let searchResult of searchResults">
                <div class="row">
                    <p><strong>{{searchResult.title}}</strong></p>
                </div>
                <div class="row">
                    <p>{{searchResult.url}}</p>
                </div>
            </li>
        </ul>
    </div>
    
</body>
</html>

